# DB

#### tests

In [ ]:
# APP ROUGH DRAFT
import logging
import coloredlogs

import yaml
from flask import Flask

from src.db_model.db_models import db
from src.schedule import schedule_bp, bus_bp, driver_bp
from src.constants.http_status_codes import HTTP_200_OK

coloredlogs.install(level='DEBUG')


log = logging.getLogger(__name__)


def create_app():
    app = Flask(__name__, instance_relative_config=True)

    with open('volume/config/flask.yml', mode='r') as f:
        app_config: dict = yaml.load(f, Loader=yaml.Loader)

    app.config.from_mapping(app_config)
    app.url_map.strict_slashes = False

    log.debug(f'using {app_config["SQLALCHEMY_DATABASE_URI"]}')

    db.app = app
    db.init_app(app=app)

    app.register_blueprint(schedule_bp)
    app.register_blueprint(bus_bp)
    app.register_blueprint(driver_bp)

    @app.get('/test')
    def test():
        return {'test': 'good'}, HTTP_200_OK

    return app

In [ ]:
# DB CREATE ALL
db.create_all()

#### populate

In [2]:
from random import randint
import random

random.seed(1)

In [6]:
# POPULATE DRIVERS
FIRST_NAMES = [
    'Salim',
    'Arooj',
    'Kaiden',
    'Rhiana',
    'Kealan',
    'Myron',
    'Korey',
    'Krisha',
    'Irene',
    'Annaliese',
    'Komal',
    'Ayesha',
    'Todd',
    'Elora',
    'Judy',
    'Zane',
    'Arlene',
    'Rose',
    'Herbie',
    'Kean',
    'Dustin',
    'Soraya',
    'Merlin',
    'Zakariah',
    'Danielle',
    'Kasim',
    'Marie',
    'Keely',
    'Toni',
    'Kerys',
    'Orlando',
    'Axl',
    'Harri',
    'Tonisha',
    'Farah',
    'Mikaela',
    'Raymond',
    'Effie',
    'Agnes',
    'Francis',
    'Natan',
    'Amber',
    'Myah',
    'Stefano',
    'Hafsah',
    'Ozan',
    'Loui',
    'Jarred',
    'Claudia',
    'Neo',
    'Shirley',
    'Sameer',
    'Jago',
    'Ridwan',
    'Elisha',
    'Abul',
    'Alishia',
    'April',
    'Kristopher',
    'Harmony',
    'Hibah',
    'Anne',
    'Angel',
    'Calista',
    'Dina',
    'Kacie',
    'Maggie',
    'Miriam',
    'Catrin',
    'Elize',
    'Clementine',
    'Antonina',
    'Jamaal',
    'Affan',
    'Lexie',
    'Donnell',
    'Rafe',
    'Kristian',
    'Olivia',
    'Yusra',
    'Bronwyn',
    'Joel',
    'Yvie',
    'Beatrix',
    'Millie',
    'Margie',
    'Eva',
    'Jacque',
    'Collette',
    'Roscoe',
    'Esmee',
    'Skyla',
    'Gino',
    'Tim',
    'Ianis',
    'Jamie',
    'Haider',
    'Vinny',
    'Ceara',
    'Kaelan',
]

LAST_NAMES = [
    'Cowan',
    'Knights',
    'Carpenter',
    'Mahoney',
    'Jarvis',
    'Sinclair',
    'Wilson',
    'Nunez',
    'Lowry',
    'Robson',
    'Coffey',
    'Cabrera',
    'Glover',
    'Brett',
    'Whitaker',
    'Ramirez',
    'Novak',
    'Trujillo',
    'Mcbride',
    'Tapia',
    'Sellers',
    'Maddox',
    'Barker',
    'Silva',
    'Stephens',
    'Palmer',
    'Branch',
    'Lane',
    'Tierney',
    'Griffiths',
    'Perez',
    'Howells',
    'Smart',
    'Drew',
    'Robinson',
    'Peters',
    'Hutchings',
    'Couch',
    'Grimes',
    'Nicholson',
    'Lott',
    'Watson',
    'Davison',
    'Knox',
    'Shields',
    'Fields',
    'Noble',
    'Dominguez',
    'Haney',
    'Fry',
    'Pope',
    'Kenny',
    'Brook',
    'Mccaffrey',
    'Harding',
    'Irving',
    'Bradshaw',
    'Salt',
    'Crouch',
    'Taylor',
    'Acevedo',
    'Velazquez',
    'Chester',
    'Salgado',
    'Frey',
    'Barron',
    'Tait',
    'Callaghan',
    'Wilkinson',
    'Millington',
    'Tate',
    'Dennis',
    'Cardenas',
    'Riddle',
    'Gonzalez',
    'Valencia',
    'Kinney',
    'Akhtar',
    'Zuniga',
    'Mcintosh',
    'Hardin',
    'Whitehouse',
    'Eaton',
    'Edwards',
    'Levine',
    'Grey',
    'Hoover',
    'Blundell',
    'Lowe',
    'Lugo',
    'Valentine',
    'Townsend',
    'Mcconnell',
    'Yoder',
    'Keeling',
    'Kaiser',
    'Morrow',
    'Lovell',
    'Medina',
    'Webster',
]

len_fn, len_ln = len(FIRST_NAMES), len(LAST_NAMES)

NUM_NAMES = 1000

seen_names = set()

for i in range(NUM_NAMES):
    fn = FIRST_NAMES[randint(0, len_fn - 1)]
    ln = LAST_NAMES[randint(0, len_ln - 1)]

    while (fn, ln) in seen_names:
        fn = FIRST_NAMES[randint(0, len_fn - 1)]
        ln = LAST_NAMES[randint(0, len_ln - 1)]

    seen_names.add((fn, ln))

len(seen_names)

1000

In [58]:
# DRIVER EMAILS AND SSN
DOMAIN_NAMES = [
    'hotmail.com',
    'gmail.com',
    'oracle.com',
    'amazon.com',
    'yahoo.ca'
]
len_dn = len(DOMAIN_NAMES)

EMAILS = [
    f'{fn[:5].lower()}_{ln.lower()}@{DOMAIN_NAMES[randint(0, len_dn - 1)]}'
    for fn, ln in list(seen_names)
]
len(EMAILS)

In [62]:
SSNs = [f'{n:0>10}' for n in range(0, 1000)]
len(SSNs)

1000

In [7]:
# POPULATE BUSES
make_list = [
    # ? source: https://gist.github.com/pcgeek86/78f4cad29dd16961ceeeee654127a0db
    'Audi',
    'Bentley',
    'BMW',
    'Bugatti',
    'Cadillac',
    'Chevrolet',
    'Chrysler'
]

model_list = [
    f'{i:0>2}' for i in range(1, 51)
]

NUM_BUSES = 250

len_make, len_model = len(make_list), len(model_list)

seen_buses = set()
for i in range(NUM_BUSES):
    make = make_list[randint(0, len_make - 1)]
    model = f'{make[:2]}-{model_list[randint(0, len_model - 1)]}'

    while (make, model) in seen_buses:
        make = make_list[randint(0, len_make - 1)]
        model = f'{make[:2]}-{model_list[randint(0, len_model - 1)]}'

    seen_buses.add((make, model))
len(seen_buses)

250

In [42]:
# POPULATE SCHEDULES
from datetime import datetime, timedelta
from src.common import DT_FMT

DATE_FMT = '%Y-%m-%d'
TIME_FMT = '%H:%M'
DT_FMT = f'{DATE_FMT} {TIME_FMT}'

DATE_START, DATE_END = '2022-01-01', '2022-02-01'
TIME_START, TIME_END = '06:00', '02:00'

NUM_SLOTS = int(1e6)

In [43]:
delta: timedelta = datetime.strptime(DATE_END, DATE_FMT) - datetime.strptime(DATE_START, DATE_FMT)

datetime.timedelta(days=365)

In [45]:
dt_start, dt_end = list(map(lambda dt: datetime.strptime(dt, DATE_FMT), (DATE_START, DATE_END)))
t_start, t_end = list(map(lambda t: datetime.strptime(t, TIME_FMT), (TIME_START, TIME_END)))

In [ ]:
import pandas as pd

In [ ]:
-- Active: 1658891856940@@127.0.0.1@3306@Schedules
INSERT INTO bus (model, make) VALUES
	('M01', 'VW');

In [ ]:
-- Active: 1658891856940@@127.0.0.1@3306@Schedules
SELECT * FROM Schedules.bus;

#### tests

# API