# SETUP

In [ ]:
# CREATE PYTHON VIRTUAL ENV
! python3 -m virtualenv venv

! source ~/<PATH>/api_project/venv/bin/activate

# INSIDE VIRTUAL ENV:
! pip3 install -r requirements.txt

# DB

#### CREATE DB OBJECTS

In [3]:
from random import randint, gauss
import random

random.seed(1)

In [17]:
# CREATE DRIVERS

FIRST_NAMES = [
    'Salim',
    'Arooj',
    'Kaiden',
    'Rhiana',
    'Kealan',
    'Myron',
    'Korey',
    'Krisha',
    'Irene',
    'Annaliese',
    'Komal',
    'Ayesha',
    'Todd',
    'Elora',
    'Judy',
    'Zane',
    'Arlene',
    'Rose',
    'Herbie',
    'Kean',
    'Dustin',
    'Soraya',
    'Merlin',
    'Zakariah',
    'Danielle',
    'Kasim',
    'Marie',
    'Keely',
    'Toni',
    'Kerys',
    'Orlando',
    'Axl',
    'Harri',
    'Tonisha',
    'Farah',
    'Mikaela',
    'Raymond',
    'Effie',
    'Agnes',
    'Francis',
    'Natan',
    'Amber',
    'Myah',
    'Stefano',
    'Hafsah',
    'Ozan',
    'Loui',
    'Jarred',
    'Claudia',
    'Neo',
    'Shirley',
    'Sameer',
    'Jago',
    'Ridwan',
    'Elisha',
    'Abul',
    'Alishia',
    'April',
    'Kristopher',
    'Harmony',
    'Hibah',
    'Anne',
    'Angel',
    'Calista',
    'Dina',
    'Kacie',
    'Maggie',
    'Miriam',
    'Catrin',
    'Elize',
    'Clementine',
    'Antonina',
    'Jamaal',
    'Affan',
    'Lexie',
    'Donnell',
    'Rafe',
    'Kristian',
    'Olivia',
    'Yusra',
    'Bronwyn',
    'Joel',
    'Yvie',
    'Beatrix',
    'Millie',
    'Margie',
    'Eva',
    'Jacque',
    'Collette',
    'Roscoe',
    'Esmee',
    'Skyla',
    'Gino',
    'Tim',
    'Ianis',
    'Jamie',
    'Haider',
    'Vinny',
    'Ceara',
    'Kaelan',
]

LAST_NAMES = [
    'Cowan',
    'Knights',
    'Carpenter',
    'Mahoney',
    'Jarvis',
    'Sinclair',
    'Wilson',
    'Nunez',
    'Lowry',
    'Robson',
    'Coffey',
    'Cabrera',
    'Glover',
    'Brett',
    'Whitaker',
    'Ramirez',
    'Novak',
    'Trujillo',
    'Mcbride',
    'Tapia',
    'Sellers',
    'Maddox',
    'Barker',
    'Silva',
    'Stephens',
    'Palmer',
    'Branch',
    'Lane',
    'Tierney',
    'Griffiths',
    'Perez',
    'Howells',
    'Smart',
    'Drew',
    'Robinson',
    'Peters',
    'Hutchings',
    'Couch',
    'Grimes',
    'Nicholson',
    'Lott',
    'Watson',
    'Davison',
    'Knox',
    'Shields',
    'Fields',
    'Noble',
    'Dominguez',
    'Haney',
    'Fry',
    'Pope',
    'Kenny',
    'Brook',
    'Mccaffrey',
    'Harding',
    'Irving',
    'Bradshaw',
    'Salt',
    'Crouch',
    'Taylor',
    'Acevedo',
    'Velazquez',
    'Chester',
    'Salgado',
    'Frey',
    'Barron',
    'Tait',
    'Callaghan',
    'Wilkinson',
    'Millington',
    'Tate',
    'Dennis',
    'Cardenas',
    'Riddle',
    'Gonzalez',
    'Valencia',
    'Kinney',
    'Akhtar',
    'Zuniga',
    'Mcintosh',
    'Hardin',
    'Whitehouse',
    'Eaton',
    'Edwards',
    'Levine',
    'Grey',
    'Hoover',
    'Blundell',
    'Lowe',
    'Lugo',
    'Valentine',
    'Townsend',
    'Mcconnell',
    'Yoder',
    'Keeling',
    'Kaiser',
    'Morrow',
    'Lovell',
    'Medina',
    'Webster',
]

DOMAIN_NAMES = [
    'hotmail.com',
    'gmail.com',
    'oracle.com',
    'amazon.com',
    'yahoo.ca'
]

len_fn, len_ln = len(FIRST_NAMES), len(LAST_NAMES)
len_dn = len(DOMAIN_NAMES)

NUM_NAMES = 1000

seen_names = set()

all_drivers = []

for i in range(NUM_NAMES):
    fn = FIRST_NAMES[randint(0, len_fn - 1)]
    ln = LAST_NAMES[randint(0, len_ln - 1)]

    while (fn, ln) in seen_names:
        fn = FIRST_NAMES[randint(0, len_fn - 1)]
        ln = LAST_NAMES[randint(0, len_ln - 1)]

    seen_names.add((fn, ln))

    email = f'{fn[:5].lower()}_{ln.lower()}@{DOMAIN_NAMES[randint(0, len_dn - 1)]}'
    ssn = f'{i:0>10}'

    all_drivers.append({
        'first_name': fn,
        'last_name': ln,
        'email': email,
        'social_security_number': ssn,
    })

len(all_drivers)

1000

In [22]:
# CREATE BUSES
make_list = [
    # ? source: https://gist.github.com/pcgeek86/78f4cad29dd16961ceeeee654127a0db
    'Audi',
    'Bentley',
    'BMW',
    'Bugatti',
    'Cadillac',
    'Chevrolet',
    'Chrysler'
]

model_list = [f'{i:0>2}' for i in range(1, 51)]

NUM_BUSES = 250

len_make, len_model = len(make_list), len(model_list)

seen_buses = set()
all_buses = []
for i in range(NUM_BUSES):
    make = make_list[randint(0, len_make - 1)]
    model = f'{make[:2]}-{model_list[randint(0, len_model - 1)]}'

    while (make, model) in seen_buses:
        make = make_list[randint(0, len_make - 1)]
        model = f'{make[:2]}-{model_list[randint(0, len_model - 1)]}'

    seen_buses.add((make, model))
    all_buses.append({
        'model': model,
        'make': make,
    })

len(all_buses)

250

In [76]:
# CREATE SCHEDULES
from datetime import datetime, timedelta, time
from src.common import DT_FMT

DATE_FMT = '%Y-%m-%d'
TIME_FMT = '%H:%M'
DT_FMT = f'{DATE_FMT} {TIME_FMT}'

DATE_START_STR, DATE_END_STR = '2022-01-01', '2022-04-01'
TIME_START_STR, TIME_END_STR = '06:00', '02:00'

NUM_SLOTS = int(1e6)

In [78]:
delta: timedelta = datetime.strptime(DATE_END_STR, DATE_FMT) - datetime.strptime(DATE_START_STR, DATE_FMT)
DT_START, DT_END = list(map(lambda dt: datetime.strptime(dt, DATE_FMT), (DATE_START_STR, DATE_END_STR)))
T_START, T_END = list(map(lambda t: time(*map(int, t.split(':'))), (TIME_START_STR, TIME_END_STR)))

In [63]:
# import pandas as pd
def random_time_shift(mu=4, sigma=1):
    return max(1, int(gauss(mu, sigma)))

0

In [96]:
class BusSchedule():
    def __init__(self, id: int):
        self.id = id

        self.t_start = T_START.replace(
            hour=T_START.hour + abs(int(gauss(0, 0.5))),
            minute=T_START.minute + abs(int(gauss(0, 10)))
        )

        self.trip_duration = timedelta(minutes=randint(20, 60))
        self.every = self.trip_duration + timedelta(
            hours=abs(int(gauss(0, 0.4))),
            minutes=randint(20, 40)
        )

        def __repr__(self):
            return f'@{self.t_start} [{self.trip_duration}] every {self.every}'

        def __str__(self): return repr(self)

        def __dict__(self):
            return {
                'id': self.id,
                't_start': self.t_start,
                'trip_duration': self.trip_duration,
                'every': self.every,
            }

# for bus in all_buses: pass

In [97]:
bs = BusSchedule(id=1)
bs.__dict__

TypeError: 'dict' object is not callable

#### POPULATE OBJECTS IN DB

In [ ]:
# APP ROUGH DRAFT
import logging
import coloredlogs

import yaml
from flask import Flask

from src.db_model.db_models import db
from src.schedule import schedule_bp, bus_bp, driver_bp
from src.schedule import Schedule, Bus, Driver

coloredlogs.install(level='DEBUG')


log = logging.getLogger(__name__)


def create_app():
    app = Flask(__name__, instance_relative_config=True)

    with open('volume/config/flask.yml', mode='r') as f:
        app_config: dict = yaml.load(f, Loader=yaml.Loader)

    app.config.from_mapping(app_config)

    log.debug(f'using {app_config["SQLALCHEMY_DATABASE_URI"]}')

    db.app = app
    db.init_app(app=app)

    app.register_blueprint(schedule_bp)
    app.register_blueprint(bus_bp)
    app.register_blueprint(driver_bp)

    return app, db

_, db = create_app()

In [ ]:
# DB CREATE ALL
# // db.create_all()

In [20]:
# POPULATE DRIVERS
for driver in all_drivers:
    db.session.add(Driver(**driver))
    db.session.commit()

In [24]:
# POPULATE BUSES
for bus in all_buses:
    db.session.add(Bus(**bus))
    db.session.commit()

#### SQL

In [ ]:
-- Active: 1658891856940@@127.0.0.1@3306@Schedules
INSERT INTO bus (model, make) VALUES ('M01', 'VW');